

#viewport_container{
	margin:0px auto;
	padding: 0;
	overflow: hidden;
}

#year-select-container{
	position: absolute;
	overflow: hidden;
	font-size: 1rem;
	max-height: 100%;
	z-index: -1;
	background-color: #f7f7f7;
	color: #a1a1a1;
}

#year-sel{
	width:2rem;
}



#ul-year{
	list-style-type: none;
	font-size:1.5rem;
	padding-left: 0;
	padding-top: 0;
	margin-top: 0;
	transition-duration: 0.5s;
}

.yr-scroll{
	position: absolute;
	z-index: 1;
	height: 2rem;
	width: 10rem;
	background-color: #f7f7f7;
	color: #ff3b30;
}

.top-scr{
	top:0;
	background-color: #f7f7f7;
}

.top-arrow{
	width: 0;
	height: 0;
	border:1rem solid transparent;
	border-bottom: 1rem solid red;
	margin: -0.5rem auto;
}

.bottom-scr{
	bottom: 0;
}

.bottom-arrow{
	width: 0;
	height: 0;
	border:1rem solid transparent;
	border-top: 1rem solid red;
	margin: 0.5rem auto;
}

.li-year{
	margin-top: 0.5rem;
	padding-left: 2.75rem;
	width: 10rem;
	font-size: 2rem;
}

.yselected{
	background-color: red;
	color: white;
}

.center_container{
	margin: 0px auto;
	height: 100%;
	overflow: hidden;
	background-color: #ffffff;
}

#cal_header{
	background-color: #f7f7f7;
	height: 3.5rem;
	padding-top: 0.5rem;
}

.li-inline{
	display: inline;
	position: relative;
}

.li-inline:first-child{
	margin-left: 0.5rem;
}

.li-right{
	float:right;
	width:2rem;
	margin-left: 0.25rem;
	margin-right: 0.25rem;
	text-align: center;
}

#back-to-today{
	width: 3.5rem;
	margin-right: 0.5em;
}


.nopadding{
	padding: 0;
}

.highlighted{
	color: #ff3b30;
}


#leftDivSwitch{
	display: none;
	margin: 0;
}

#leftDivSwitch:checked~#center_container {
	transform: translateX(10rem);
	transition-duration: 1s;
}

#leftDivSwitch:checked~#year-select-container{
	z-index: 0;
}

.title{
	font-size: 1.5rem;
	margin: 0 0 0 0;
}

.big-title{
	font-size: 1.5rem;
	font-weight: 600;
	padding-left: 0.5rem;
}

#year-month-sel{
	display: none;
}

/*#select-year{*/
	/*position: relative;*/
	/*top:	0;*/
	/*left:	0;*/
/*}*/

.weekline{
	font-size: 0.8rem;
	border-bottom: 1px solid #b2b2b2;
}

.item_td{
	font-size: 1rem;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	width: 14.285714%;
	z-index: 1;
	padding: 0;
}

.weekend{
	color: #a2a2a2;
}

/*.dcontain > p{*/
/*line-height: 0.8rem;*/
/*margin-top: 0.2rem;*/
/*margin-bottom: 0.2rem;*/
/*-webkit-margin-before: 0.2rem;*/
/*-webkit-margin-after: 0.2rem;*/
/*}*/

.pdate{
	margin-top: 0.2rem;
	margin-bottom: 0;
	line-height: 2.3rem;
	font-size: 1.8rem;
	font-weight: 600;
	font-family: 'Open Sans', sans-serif, Helvetica, STHeiTi;
}

.plunar{
	height: 1.4rem;
	font-size: 0.8rem;
	font-weight: 500;
	width: 2.2rem;
	margin: 0 auto 0 auto;
}

.lunar-start{
	border-bottom: 2px solid #ff3b30;
}

#calendar{
	border-collapse: collapse;
	text-align: center;
	background-color: #f7f7f7;
	width: 100%;
}

#calendar > tr{
	border-bottom: 1px solid #b2b2b2;
}

.dcontain{
	width: 4rem;
	height: 4rem;
	border-radius: 2rem;
	margin-left: auto;
	margin-right: auto;
	z-index: -1;
}

.today{
	background-color: #ff3b30;
	color: #ffffff;
}

.selected{
	background-color: #000000;
	color: #ffffff;
}



.dot{
	width: 0.5rem;
	height: 0.5rem;
	background-color: #cccccc;
	border-radius: 0.5rem;
	margin: 0 auto 0.1rem auto;
}

.white-dot{
	background-color: #f7f7f7;
}

#event-container{
	max-height: 100%;
	height: 100%;
	width: 100%;
}

.events{
	padding-left: 0;
	margin: 0 0 0 0;
}

.event-li {
	list-style: none;
	width: 100%;
	margin-left: 0;
	height: 4rem;
	border-bottom: 1px solid #b2b2b2;
}

.event-li > div{
	float:left;
}

.event-time{
	width: 25%;
	padding-right: 5%;
	margin-top: 1%;
	margin-bottom: 1%;
	border-right: 3px solid #ffffff;
}

.solar-term{
	border-right-color: #ff3b30;
}

.public-holiday{
	border-right-color: #cc73e1;
}

.lunar-holiday{
	border-right-color: #ff3b30;
}

.event-time > p{
	float:right;
}

.event-str{
	width: 75%;
	font-size: 1.5rem;
	padding-left: 3%;
}

#center-overlap{
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
	display: none;
}

*{
	font-family: '微软雅黑', '黑体', 'Open Sans', sans-serif;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body{
	margin: 0;
	height: 100%;
}

html {
	margin: 0;
	height: 100%;
}

@media only screen and (min-width: 768px){
	/*Larger screen*/
	#viewport_container{
		max-width: 35rem;
		height:100%;
	}
	#year-sel:hover{
		background-color: #ff3b30;
		border-radius: 0.1rem;
		color: #f7f7f7;
	}

	#year-num:hover{
		background-color: #ff3b30;
		border-radius: 0.1rem;
		color: #f7f7f7;
	}

	.li-right:hover{
		background-color: #ff3b30;
		color: #f7f7f7;
		border-radius: 0.1rem;
	}
}


@media only screen and (max-width: 768px){
	html{
		font-size: 100%;
	}
	#viewport_container{
		width:100%;
		max-width: 100%;
		height: 100%;
	}
}

@media only screen and (max-width: 480px){
	html{
		font-size: 80%;
	}
}

@media only screen and (max-width: 360px){
	html{
		font-size: 70%;
	}
}

@media only screen and (max-width: 340px){
	html{
		font-size: 40%;
	}
    
    .dcontain{
        width: 3.5rem;
        height: 3.5rem;
        border-radius: 1.75rem;
    }
    
    .pdate{
        line-height: 1.8rem;
        font-size: 1.8rem;
    }
    
    .plunar{
        height: 1.4rem;
        font-size: 0.8rem;
    }
}